Brewfile.lock.json
.private.zsh

sublime3/User/Package Control.cache/
sublime3/User/Package Control.last-run
sublime3/User/Package Control.merged-ca-bundle
sublime3/User/Package Control.system-ca-bundle
sublime3/User/Package Control.user-ca-bundle
sublime3/User/oscrypto-ca-bundle.crt
*.sublime-workspace
# recent projects from ProjectManager plugin
sublime3/User/Projects/recent.json

karabiner/config.symlink/karabiner/automatic_backups/

.idea/

