[submodule "zsh/oh-my-zsh.symlink"]
	path = zsh/oh-my-zsh.symlink
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "awesome/config.symlink/awesome/vicious"]
	path = awesome/config.symlink/awesome/vicious
	url = git@github.com:Mic92/vicious
[submodule "awesome/config.symlink/awesome/awesome.battery-widget"]
	path = awesome/config.symlink/awesome/awesome.battery-widget
	url = git@github.com:coldfix/awesome.battery-widget.git
[submodule "awesome/config.symlink/awesome/stock-widget"]
	path = awesome/config.symlink/awesome/stock-widget
	url = git@github.com:whwright/stock-widget.git
[submodule "zsh/zsh-git-prompt.symlink"]
	path = zsh/zsh-git-prompt.symlink
	url = git@github.com:starcraftman/zsh-git-prompt.git
[submodule "python/terminal_velocity"]
	path = python/terminal_velocity
	url = git@github.com:whwright/terminal_velocity.git
[submodule "emojione-picker-ubuntu"]
	path = emojione-picker-ubuntu
	url = git@github.com:gentakojima/emojione-picker-ubuntu.git
[submodule "autorandr"]
	path = autorandr
	url = https://github.com/wertarbyte/autorandr
