[submodule "zsh/zsh-git-prompt.symlink"]
	path = .zsh-git-prompt
	url = git@github.com:starcraftman/zsh-git-prompt.git
[submodule "tmux/awesomewm.tmux.symlink"]
	path = .awesomewm.tmux
	url = git@github.com:whwright/awesomewm.tmux.git
[submodule "zsh/oh-my-zsh.symlink"]
	path = .oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
